<nav>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
        <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
        <% end %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <%# if user_signed_in? %>
            <li class="nav-item active">
                <%= link_to "Home", "#", class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Messages", "#", class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Action", "#", class: "dropdown-item" %>
                <%= link_to "Another action", "#", class: "dropdown-item" %>
                <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
                </div>
            </li>
            <%# else %>
            <!--li class="nav-item"-->
                <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
            <!--/li-->
            <%# end %>
        </ul>
        </div>
    </div>
    </div>
</nav>

<section id="banner" class="d-flex justify-content-between">
    <div class="w-50">
        <h1>
            Change your life.
        </h1>
        <h1 class="header-purple">
            Learn to code.
        </h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, atque illo molestiae quis accusantium non harum eos possimus natus incidunt ullam libero neque ratione. Dolor ratione et nemo error incidunt!
        </p>
        <div class="d-flex">
            <div><i data-feather="anchor"></i></div>
            <div><i data-feather="circle"></i></div>
            <div><i data-feather="aperture"></i></div>
        </div>
        <%= link_to "Browse Courses", "#", class: 'btn-main' %>
    </div>
    <%= image_tag "heroimg.webp", alt: "Le Wagon Bootcamp" %>
</section>

<section id="stats" class="d-flex justify-content-between">
    <div>
        <h3>22.000</h3>
        <p>graduates worldwide</p>
    </div>
    <div>
        <h3>#1</h3>
        <p>graduates worldwide</p>
    </div>
    <div>
        <h3>93%</h3>
        <p>graduates worldwide</p>
    </div>
</section>
